@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  color: white
}

li {
  list-style-type: none;
  cursor: pointer;
}

.purple {
  color: purple;
}

/* HOME PAGE */

/* 

NAV

*/

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 8px 16px;
  width: 100%;
  max-width: 1470px;
  height: 10vh;
  border-bottom: 2px solid white;
  position: fixed;
  z-index: 1;
}

.nav__img--wrapper {
  display: flex;
  align-items: center;
}

.nav__img {
  width: 100%;
  max-width: 124px;
  cursor: pointer;
  transition: all 300ms ease;
}
.nav__img:hover {
  scale: 103%;
}

.nav__link--list {
  display: flex;
}

.nav__link {
  font-size: 20px;
  font-weight: 700;
  margin: 0 24px;
  position: relative;
}

.nav__link--hover-effect:hover:after {
  width: 100%;
  left: 0;
}

.nav__link--hover-effect:after {
  content: "";
  position: absolute;
  height: 3px;
  bottom: -3px;
  width: 0;
  right: 0;
  transition: all 300ms ease;
  background-color: #fff;
}

/* 

HEADER

*/

header {
  background-color: #000000;
}

.header__container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1435px;
  height: calc(100% - 8vh);
  padding: 48px 0 48px 42px;
  position: relative;
}

.header__description {
  display: flex;
  align-items: center;
  position: relative;
}

.header__title {
  font-size: 80px;
  margin-right: 200px;
  font-family: "Kanit", sans-serif;
  color: white;
}

.featured__cards--wrapper {
  margin-top: 48px;
}

.featured__card--img {
  width: 100%;
  max-width: 276px;
  padding: 24px 32px;
  transition: all 300ms ease;
}

.featured__card--img:hover {
  transform: scale(104%);
  cursor: pointer;
}
.featured__card--img:active {
  transform: scale(100%);
}

.background__img {
  background-image: url("./images/Image.1.avif");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: absolute;
  width: 1470px;
  height: 922px;
  z-index: 0;
}
.background__img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e61a1299;
  pointer-events: none;
}

/*

SEARCH

*/

#search {
  position: relative;
}

.container {
  width: 100%;
  max-width: 1435px;
  margin-top: 80px;
}

.search__description {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.search__title {
  font-size: 62px;
  font-style: italic;
  color: white;
  text-align: center;
  padding-bottom: 45px;
  margin: 100px 150px 0 150px;
}

.search__bar--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  position: relative;
}

.search__bar {
  border-radius: 500px;
  border: 1px solid black;
  font-size: 20px;
  width: 100%;
  max-width: 800px;
  height: 58px;
  padding-left: 20px;
  margin-bottom: 40px;
}

input {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: flex-end;
  color: black;
}

.search__bar--btn-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.search__bar--btn {
  width: 58px;
  height: 58px;
  position: absolute;
  padding: 10px;
  top: 0;
  right: 0;
  transition: all 300ms ease;
  cursor: pointer;
}
.search__bar--btn:active {
  scale: 80%;
}
.search__bar--btn:hover {
  opacity: 80%;
}

.search--img {
  background-image: url(https://tcg.pokemon.com/assets/img/sv-expansions/destined-rivals/patterns/pattern-diagonal.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: absolute;
  width: 1470px;
  height: 734px;
  z-index: 0;
  background-color: rgb(111, 21, 100, 0.8);
}
.search__img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

/* CARD PAGE */

#card__header {
  background-color: black;
  width: 100%;
  max-width: 1470px;
  height: 65vh;
  position: relative;
}

.card__container {
  height: 50vh;
  display: flex;
  justify-content: center;
  padding-top: 120px;
}

.card__row {
  width: 100%;
  max-width: 1470px;
}

.card__description {
  z-index: 0;
  position: relative;
}

.card__title {
  font-size: 76px;
  color: white;
  text-align: center;
  margin-bottom: 48px;
}

.card__search-bar {
  width: 100%;
  max-width: 900px;
}

.card__search-bar--wrapper {
  width: 100%;
  max-width: 900px;
  display: flex;
  margin-left: 282px;
}

.card__background--img {
  background-image: url(https://pbs.twimg.com/media/GbT_3vwWMAEAlZP.jpg:large);
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  position: absolute;
  width: 100%;
  max-width: 1470px;
  height: 65vh;
}
.card__background--img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(41, 25, 71, 0.83);
  pointer-events: none;
}

.shopping__container {
  padding: 16px 60px;
}

.shopping__row {
  display: flex;
  justify-content: space-between;
  margin: 40px 100px 80px 100px;
}

.shopping__title {
  color: black;
  font-size: 28px;
  font-weight: bold;
}

.price__title {
  font-size: 20px;
}

select {
  cursor: pointer;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #6030b1;
  color: black;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 16px;
  width: 100%;
  max-width: 200px;
}

.pokemon__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: 124px;
}

.pokemon__cards {
  margin: 192px 24px;
}

.pokemon__slot {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 10px;
  transition: all 300ms ease;
}

.pokemon__slot--description {
  padding: 10px 16px;
}

.pokemon__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;
}

.pokemon__img {
  position: relative;
  transition: filter 300ms 100ms ease, transform 100ms ease
}
.pokemon__img:hover {
  transform: scale(102%);
  filter: blur(8px);
}
.pokemon__img:active {
  transform: scale(100%);
}

.img__hover-text {
  position: absolute;
  opacity: 0;
  transition: opacity 300ms 100ms ease;
  font-style: italic;
  font-size: 34px;
  z-index: 0;
}

.pokemon__img--wrapper:hover .img__hover-text {
  opacity: 1;
}
  
b {
  color: black;
}

.pokemon__info {
  color: black;
  padding-bottom: 8px;
}

.no-results {
  width: 100%;
  max-width: 1470px;
  padding: 48px 300px ;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.no__results--img {
  width: 500px;
  padding-bottom: 32px;
}

.no__results--title {
  font-size: 48px;
  text-align: center;
  padding-right: 104px;
}

#loading {
  width: 100%;
  max-width: 1470px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.loading__state {
  position: absolute;
  width: 100px;
  height: 100px;
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
}

.loader {
  color: black;
  width: 60px;
  height: 60px;
  animation: rotate 600ms infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 

BUY PAGE

*/

#buy {
  width: 100%;
  max-width: 1470;
  height: 120vh;
  background-color: #eef0ef;
}

.buy__container {
  padding-top: 100px;
}

.buy__row {
  padding: 0 200px;
  height: 30vh;
  border-bottom: 2px solid darkgray;
}

.buy__description {
  width: 100%;
  max-width: 1470px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.buy__title {
  font-size: 48px;
  padding-top: 48px;
  padding-bottom: 14px;
  color: black;
  font-family: "Kanit", sans-serif;
  font-style: italic;
  font-weight: 900;
}

.buy__para {
  color: black;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  text-align: center;
  max-width: 1000px;
}

#providers {
  margin-top: 150px;
  width: 100%;
}

.stores {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 1000px;
}

.store {
  display: flex;
  margin: 10px 8px;
  max-width: 50%;
  padding: 0 8px;
  border-radius: 4px;
  border: none;
  background-color: white;
  box-shadow: 1px 2px 0 #9c9c9c;
  transition: all 300ms ease;
}
.store:hover {
  transform: scale(102%);
}

.store__img {
  width: 280px;
  padding: 8px 16px;
  transition: all 300ms ease;
}
.store__img:hover {
  transform: scale(105%);
}

 /* 
 
 CART PAGE
 
 */

 #cart {
  width: 100%;
  max-width: 1470px;
  height: 100vh;
 }

 .btn__wrapper {
  width: 100%;
  max-width: 1470px;
  display: flex;
  align-items: center;
  height: 80vh;
  justify-content: center;
  padding-top: 200px;
 }

.cart__btn {
  font-size: 26px;
  width: 200px;
  height: 100px;
  border: none;
  border-radius: 5px;
  transition: all 300ms ease;
}
.cart__btn:hover {
  transform: scale(105%);
  background-color: darkgray;
}
.cart__btn:active {
  transform: scale(100%);
}

/* 

CARDS PAGE

*/

#cards {
  width: 100%;
  max-width: 1470px;
  height: 100vh;
  background-color: lightgray;
}

.cards__container {
  padding: 100px 0 0 92px;
}

.cards__navigation {
  padding-top: 48px;
  display: flex;
  align-items: center;

}

.cards__arrow--icon {
  color: black;
  width: 24px;
  height: 24px;
  padding-right: 16px;
}
